name: Update AppleBlox Casks

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  bump-casks:
    name: Update AppleBlox Casks
    runs-on: macos-26
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Check and Bump Stable Cask
        id: update-stable
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          REPO="Appleblox/Appleblox"
          STABLE_CASK="Casks/appleblox.rb"
          STABLE_VERSION=$(gh release list -R ${REPO} --limit 1 --json tagName -q '.[] | .tagName')
          CURRENT_VERSION=$(grep -Eo 'version ".+"' ${STABLE_CASK} | cut -d '"' -f 2)
          
          echo "Stable Version: ${STABLE_VERSION}"
          echo "Current Version: ${CURRENT_VERSION}"
          
          if [ "$CURRENT_VERSION" != "$STABLE_VERSION"  ]; then
            ASSETS=($(gh release view ${STABLE_VERSION} -R ${REPO} --json assets -q '.assets[] | .name + ":" + .digest'))
            
            for i in "${ASSETS[@]}"; do
              case "$i" in
                *arm64.dmg*)
                  SHA256_ARM=$(echo "$i" | cut -d':' -f3)
                  echo "$i"
                  ;;
                *x64.dmg*)
                  SHA256_INTEL=$(echo "$i" | cut -d':' -f3)
                  echo "$i"
                  ;;
              esac
            done
            
            ruby -i -pe "gsub(/sha256 \".*\"/, \"sha256 \\\"$SHA256_ARM\\\"\") if /on_arm/ .. /end/" ${STABLE_CASK}
            ruby -i -pe "gsub(/sha256 \".*\"/, \"sha256 \\\"$SHA256_INTEL\\\"\") if /on_intel/ .. /end/" ${STABLE_CASK}
            sed -i "s/$CURRENT_VERSION/$STABLE_VERSION/g" ${STABLE_CASK}
            
            git add ${STABLE_CASK}
          else
            echo "No new stable version found"
          fi

      - name: Check and Bump Dev Cask
        id: update-dev
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          REPO="Appleblox/Appleblox"
          DEV_CASK="Casks/appleblox@dev.rb"
          DEV_VERSION=$(curl -s https://raw.githubusercontent.com/${REPO}/dev/package.json | jq -r .version)
          CURRENT_VERSION=$(grep -Eo 'version ".+"' ${DEV_CASK} | cut -d '"' -f 2)
          
          echo "Dev Version: ${DEV_VERSION}"
          echo "Current Version: ${CURRENT_VERSION}"
          
          if [ "$CURRENT_VERSION" != "$DEV_VERSION"  ]; then
            wget -O "AppleBlox_${DEV_VERSION}_arm64.dmg.zip" "https://nightly.link/${REPO}/workflows/build/dev/AppleBlox-${DEV_VERSION}_arm64.dmg.zip" -q
            SHA256_ARM=$(sha256sum "AppleBlox_${DEV_VERSION}_arm64.dmg.zip" | awk '{ print $1 }')
            echo "SHA256 for arm build is ${SHA256_ARM}"

            wget -O "AppleBlox_${DEV_VERSION}_x64.dmg.zip" "https://nightly.link/${REPO}/workflows/build/dev/AppleBlox-${DEV_VERSION}_x64.dmg.zip" -q
            SHA256_INTEL=$(sha256sum "AppleBlox_${DEV_VERSION}_x64.dmg.zip" | awk '{ print $1 }')
            echo "SHA256 for x64 build is ${SHA256_INTEL}"
            
            rm AppleBlox_${DEV_VERSION}_*.dmg.zip
          
            ruby -i -pe "gsub(/sha256 \".*\"/, \"sha256 \\\"$SHA256_ARM\\\"\") if /on_arm/ .. /end/" ${DEV_CASK}
            ruby -i -pe "gsub(/sha256 \".*\"/, \"sha256 \\\"$SHA256_INTEL\\\"\") if /on_intel/ .. /end/" ${DEV_CASK}
            sed -i "s/$CURRENT_VERSION/$DEV_VERSION/g" ${DEV_CASK}
          
            git add ${DEV_CASK}
          else
            echo "No new dev version found"
          fi
          
      - name: Commit and Push Changes
        if: steps.update-stable.outcome == 'success' || steps.update-dev.outcome == 'success'
        run: |
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git config --global user.name "github-actions"
            git config --global user.email "actions@github.com"
            git commit -m "Update AppleBlox Casks"
            git push
          fi